@page "/weather"
@using WeatherTrendAnalyzer.WeatherForecast.Services
@attribute [StreamRendering]
@inject WeatherForecastService WeatherForecastService

<PageTitle>Weather</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates showing data.</p>
<label for="daysInput" class="font-weight-bold">Antal dagar (3–10):</label>
<button class="btn btn-primary mt-2" @onclick="LoadWeatherForecastAsync">Hämta väder</button>
@if (_isLoading)
{
    <p><em>Loading...</em></p>
}

@code {
    private bool _isLoading;
    private int _forecastDays = 3; //Default

    private async Task LoadWeatherForecastAsync()
    {
        _isLoading = true;
        var rawWeather = await WeatherForecastService.GetWeatherForecastAsync(_forecastDays);
        Console.WriteLine(rawWeather);
    }
}
